# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Environment files
.env
.env.*

# supabase
supabase/dev.db
supabase/dev.db-journal

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.swp
*.swo

# VSCode
.vscode/
